@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: -webkit-box;
  font-family: "Lato", "Times New Roman", Times, serif;
  height: 100%;
  display: flex;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-weight: 400;
  margin: 0;
  font-size: 27px;
}
h2 {
  font-size: 14.5px;
  color: #1770ab;
}
h3 {
  margin-top: 4px;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  color: #6c757c;
}
h4 {
  margin-top: 2px;
  font-size: 12px;
  font-weight: normal;
  color: #6c757c;
}
.nav {
  width: 85px;
  background-color: #003262;
  padding: 13px 10px 10px 10px;
  position: fixed;
  height: 100vh;
  z-index: 2000;
}

#nav-mobile {
  display: none;
}

.nav--button {
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  font-size: 14px;
  color: #fff;
  flex-direction: column;
  align-items: center;
}
.nav--button img {
  width: 75%;
  margin-bottom: 5px;
}
.nav--button img:not(#logo) {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.nav--button img#logo {
  margin-bottom: 10px;
  width: 100%;
}
.nav--button:hover,
.nav--button img:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav--button:active,
.nav--button img:active {
  cursor: pointer;
  text-decoration: none;
}

.nav--button a {
  color: #fff;
  text-decoration: none;
}
.main {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-left: 85px;
  flex: 1;
  /* position: relative; */
}
.dashboard {
  width: 100%;
  padding: 30px;
}
.dashboard--title {
  padding: 0 24px 20px 0;
  margin: 0 24px 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard--title img {
  width: 20px;
}

.dashboard--title__dots {
  border-radius: 5px;
  transition: 0.1s;
  padding: 10px;
}

.dashboard--title__dots:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.dashboard--title__dots:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.dashboard--classes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard--classes__box {
  min-width: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-bottom: 35px;
}

.dashboard--classes__box:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.dashboard--classes__box__image {
  height: 146px;
  background-color: #1770ab;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dashboard--classes:hover {
  cursor: pointer;
}

.dashboard--classes__box__1 .dashboard--classes__box__image {
  background-color: #d97900;
}
.dashboard--classes__box__1 h2 {
  color: #d97900;
}

.dashboard--classes__box__2 .dashboard--classes__box__image {
  background-color: #65499d;
}
.dashboard--classes__box__2 h2 {
  color: #65499d;
}

.dashboard--classes__box__4 .dashboard--classes__box__image {
  background-color: #009688;
}
.dashboard--classes__box__4 h2 {
  color: #009688;
}

.dashboard--classes__box__5 .dashboard--classes__box__image {
  background-color: #4554a4;
}
.dashboard--classes__box__5 h2 {
  color: #4554a4;
}

.dashboard--classes__box__6 .dashboard--classes__box__image {
  background-color: #f06291;
}
.dashboard--classes__box__6 h2 {
  color: #f06291;
}

.dashboard--classes__box__description {
  padding: 15px 22.5px;
}
.dashboard--classes__box__controls__buttons {
  margin-top: 9px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.dashboard--classes__box__controls__buttons img {
  height: 23.5px;
  -webkit-filter: invert(40%);
  filter: invert(40%);
}
.dashboard--classes__box__controls__buttons img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.07);
}
.notifications {
  margin: 24px 36px;
}
.notifications img {
  width: 100%;
  padding: 4px;
}
.notifications__todo--title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.notifications__todo--title h2 {
  color: #2d3b45;
  font-size: 16px;
}
.notifications__notifs .notifications__notifs--box {
  margin-bottom: 16px;
  display: flex;
  align-items: start;
}
.notifications__notifs .notifications__notifs--box img {
  width: 30px;
  margin-right: 5px;
}
.notifications__notifs .notifications__notifs--box h1 {
  font-weight: 300;
  font-size: 14px;
  color: #1770ab;
  margin: 8px 0 4px 0;
}
.notifications__notifs .notifications__notifs--box h2 {
  color: rgba(108, 117, 124, 0.6);
  font-weight: 400;
}
.notifications__notifs .notifications__notifs--box h3 {
  text-transform: none;
  font-size: 12px;
  color: rgba(108, 117, 124, 0.55);
}

.dashboard--classes__box__controls__text:hover,
.notifications__notifs--text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard--classes__box__controls__text:active,
.notifications__notifs--text:active {
  text-decoration: none;
}


/* .content-container {
  position: relative;
  overflow: hidden;
  display: flex;
} */

.account-section {
  position: absolute;
  z-index: 1001;
  /* display: none; */
  top: 0;
  left: -350px; 
  width: 350px;
  height: 100%;
  margin-left: 85px;
  background-color: #fff;
  transition: left 0.3s ease;
}


#account {
  display: flex;
  flex-direction: column;
}

.x {
  margin-right: auto;
}

.x button {
  background: white;
  border: none;
  color: gray;
  font-size: 20px;
}

.x button:hover {
  cursor: pointer;
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#profile-img-wrapper {
/*   margin-right: 10px; */
}

#profile-img-wrapper img {
  width: 70px;
  height: 70px;
}

#logout {
  margin-top: 10px;
  margin-bottom: 20px;
}

#account-links {
  border-top: 1px solid lightgray;
}

#acc-links {
  list-style-type: none;
  
}

#acc-links a {
  color: #1770ab;
  text-decoration: none;
  
}

#acc-links li {
  margin: 20px 0;
}

#courses {
  display: flex;
  flex-direction: column;
}

#course-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#course-info h1 {
  margin-bottom: 20px;
}

#course-links {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#course-list {
  list-style-type: none;
  
}

#course-list a {
  color: #1770ab;
  text-decoration: none;
  
}

#course-list li {
  margin: 20px 0;
}

#all-courses-link a {
  color: #1770ab;
  text-decoration: none;
}

#all-courses-link p {
  margin-right: 20px;
}



@media (min-width: 1100px) {
  .dashboard--classes {
    width: 894px;
  }
}
@media (max-width: 1099px) {
  .dashboard--classes {
    width: 90%;
    justify-content: start;
  }
  .dashboard--classes__box {
    margin-right: 20px;
  }
}
@media (min-width: 993px) {
  .notifications {
    width: 288px;
  }
}
@media (max-width: 1099px) {
  .notifications {
    width: 30%;
    margin-top: 0px;
  }
  .main {
    flex-wrap: wrap;
  }
  #bcourses {
    display: none;
  }
}

@media (max-width: 800px) {
  #nav-mobile {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #003262;
    display: flex;
  }

  .nav-hamburger {
    display: flex;
    align-items: center;
  }
  .nav-hamburger img {
    width: 40px;
    height: 40px;
    margin: 7px;
    padding: 7px;
    filter: invert(1);
  }
  .nav-hamburger:hover {
    cursor: pointer;
  }

  .nav-hamburger:active {
    border: 4px solid white;
    border-radius: 5px;
  }
  .nav {
    display: none;
  }
  .main {
    margin-left: 0;
    margin-top: 70px;
  }
  #db {
    display: none;
  }
  #dashboard-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
  .dashboard--title__dots {
    margin-left: auto;
    display: block;
  }

  .dashboard--classes__box {
    width: 100%;
    margin-right: 0px;
  }
}

#dash {
  /* display: flex; */
  width: 100%;
}

/* CALENDAR */


#cal {
  padding: 30px;
}

.hidden {
  display: none;
}

#calendar-controls button:not(.exclude) {
padding: 10px 15px;
font-size: 16px;
border: 1px solid lightgray;
/* border-radius: 5px; */
}

#calendar-controls {
display: flex;
margin-top: 20px;
margin-bottom: 10px;
}

#calendar-controls-left button {
margin: 0 5px;
}

#prev-month {
margin-right: 0;
}

#next-month {
margin-left: 0;
}



#calendar-controls-right {
margin-left: auto;
}

#calendar-controls-right button {
  float: left;
  }



table {
/*       width: 100%; */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
 
  
}
td {
width: 120px; 
  height: 110px; 

}

th {
  background-color: white;
  border: white;
  border-top: 1px solid lightgray;
  color: gray;
  padding: 25px 0;
}

.previous-month, .next-month {
  color: #888888; 
}

.day-number {
  position: relative;
  bottom: 45px;
  right: 50px; 
}
.current-date {
  background-color: #e0e0e0; 
}

.current-day {
background-color: #FFEABC;
}

.current-hour {
border-bottom: 2px solid #FCDE9C;
}

#weekly-calendar td {
width: 120px;
height: 30px; 
font-size: 14px;

}

#weekly-calendar .hours {
width: 50px;
left: 20px;
}

.calendar-container {
  width: fit-content;
  height: 600px; 
  overflow-y: auto; 
  border-bottom: 1px solid lightgray; 
}



#weekly-calendar-header th {
  position: sticky;
  top: 0;
}

.active-btn {
background-color: #424141;
color: white;
}

#curr-month, #curr-week {
background: white;
border: 1px solid white;
font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 1000;
}

